.featured-fighter {
  width: 100%;
  text-align: center;

  @media(min-width: 1248px) {
    text-align: left;
    display: inline-block;
    text-align: right;
    width: 50%;
  }
}

.featured-fighter-text {
  text-align: left;
  display: inline-block;
  vertical-align: top;

  h1 {
    color: $featured-fighter-name;
  }
}

.featured-fighter-text-label {
  font-size: 1em;
  display: inline-block;
  padding: 0.5em;
  background: $featured-fighter-label-background;
  color: $featured-fighter-label-color;
  text-transform: uppercase;

  &--grey {
    background: $upcoming-events-label;
  }

  @media(min-width: 900px) {
    font-size: 1.2em;
  }
}

.featured-fighter-image {
  display: inline-block;
  width: 250px;
  height: calc(100vh - 92px);
  background-size: cover;
  margin-right: 1em;
  margin-top: 1em;

  @media(min-width: 900px) {
    margin-top: 0;
    width: 400px;
  }
}

.featured-fighter-details {
  color: $featured-fighter-details;
  margin-bottom: 0.5em;
}

.featured-fighter-more {
  color: $featured-fighter-more;
  text-transform: uppercase;
}
