.content {
  width: 100%;

  @media(min-width: 1248px) {
    display: inline-block;
    height: calc(100vh - 92px);
    float: left;
    width: 50%;
  }
}

.upcoming-events {
  margin-bottom: 2em;
}

.upcoming-events-more {
  float: right;
  color: $upcoming-events-more;
  text-transform: uppercase;
}

.events {
  padding-top: 1em;
  @include display-flex;
  @include flex-direction-row;
  @include flex-wrap-wrap;
}

.event {
  display: block;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: $event-colour;
  background: $event-background-colour;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 8px;

  &:hover {
    background: $event-background-colour-hover;
  }

  img {
    float: right;
  }

  .event-title {
    font-size: 1.1em;
    font-weight: 500;
  }

  .event-subtitle {
    /*font-size: 0.9em;*/
    color: $event-subtitle-colour;
  }

  .event-date {
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0.5em;
    background: $event-date-background;
    color: $event-date-colour;

    .event-date-day {
      display: block;
    }
  }

  @media(min-width: 900px) {
    display: inline-block;
    width: calc(50% - 4px);

    &:nth-child(odd) {
      margin-right: 8px;
    }
  }

 /* @media(min-width: 900px) {
    width: 33.333%;
  }*/
}
