h1 {
  color: $heading-colour;
  font-size: 2em;
	line-height: 1.2;
  font-weight: 600;

  @media(min-width: 900px) {
    font-size: 2.5em;
  }
}

h2 {
  color: $heading-colour;
  font-size: 1.6em;
  font-weight: 500;
	line-height: 1.2;
}

h3 {
  color: $heading-colour;
  font-size: 1.4em;
  font-weight: 500;
	line-height: 1.2;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background: $page-background-colour;
  color: $page-font-colour;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

img {
	max-width: 100%;
}

p, a {
	line-height: 1.4;
}

a {
  text-decoration: none;
  color: $page-font-colour;
  font-weight: 700;
}
